# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Python Build
build/
dist/
*.egg-info/

# React / Node
frontend/node_modules/
frontend/dist/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/